.chattershark {
  /* background-color: white; */
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
}

.mascot {
  /* transform: rotate(-30deg); */
  height: 300px;
  width: 300px;
  /* position: absolute; */
  right: 0;
  top: 0;
}

#search {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.choice {
  width: 100%;
}

#match-list {
  height: 100%;
}
