.body-container {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  height: auto;
  /* margin: 15px; */
  /* background-color: rgba(255, 255, 255, 0.7); */
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
